.post {
  display: flex;
  background-color: white;
  margin: 20px 0;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
  cursor: pointer;
}


.post-text {
  display: block;
  word-break: break-word;
  /* min-height: 50px; */
  max-height: 200px;

}

.post-left {
  background-color: #84D98A;
  width: 50px;
  border-radius: 4px 0 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 90%;
}

.post-wrap {
  overflow: hidden;
}

.post-right {
  padding: 20px;
  width: 100%;
  position: relative;
}

.post-right img {
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
}

.upArrow,
.dnArrow {
  height: 30px;
  width: 30px;
}

.text-fade {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, white);
  position: absolute;
  bottom: 50px;
  right: 0;
}

.bottom-post-icons {
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
  bottom: 20px;
  text-align: center;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}


.comments-icon-container, .votes-icon-container {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.votes-icon-container {
  display: none;
}

.comments-icon-container:hover, .votes-icon-container:hover {
  background-color: lightgray;
}

.bottom-post-icons img {
  height: 20px;
  width: 20px;
  margin-bottom: 0px;
}

.commentIcon {
  margin-right: 7px;
}

/* Media Queries */
/* On screens that are 1440px or less, do this:*/
@media screen and (max-width: 1440px) {
  .post, .posts-wrapper, .main-content-left {
    width: 650px;
  }
}

@media screen and (max-width: 1024px) {
  .post, .posts-wrapper, .main-content-left {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {

  .main-content-left {
    width: 95%;
  }

  .posts-wrapper {
    width: 100%;
  }
    
  .post {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .post-left {
    display: none;
  }

  .votes-icon-container {
    display: flex;
  }
}